.profile-bg {
  background-color: #fafafa;
  width: 100%;
  height: auto;
  padding: 120px 150px 50px;
  font-family: poppins;
}

.profile-bg label {
  color: #02035d;
}

.profile-details {
  font-family: poppins;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.25rem;
  color: #02035d;
  margin-bottom: 8rem;
}

.img-container {
  border-radius: 12.5rem;
  width: 25rem;
  height: 25rem;
  background-color: #0096c733;
  border: 1.5px solid #0096c7;
  margin-bottom: 4.5rem;
}

.profile-field,
.email-field {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.email-field p,
.profile-field input {
  padding: 0.625rem 3rem;
}

.profile-field {
  background-color: transparent;
}

.email-field p,
.profile-field input {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.375rem;
  color: #02035d;
}

.profile-field label,
.email-field label {
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 3.825rem;
}

.profile-field input {
  background-color: #f2f2f5;
  border-radius: 1rem;
  border: none;
}

.profile-field div {
  display: flex;
  gap: 1.75rem;
}

.edit {
  border: 1px solid #6b7588;
  border-radius: 1rem;
  background: transparent;
}

.other-details {
  display: inline-block;
  margin-right: 5.375rem;
}

.other-details div {
  display: flex;
  gap: 0.5rem;
  max-height: 2.75rem;
}

.other-details input {
  background: #f2f2f5;
  color: #02035d;
  padding: 0.625rem;
  border: none;
  border-radius: 0.5rem;
}

.edit-other {
  padding: 0.625rem;
  border-radius: 0.5rem;
  background-color: #3a3a3c;
}

.max {
  width: 5.375rem;
}
