.navbar {
  width: 100%;
  max-width: 100%;
  height: 13vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky; /* Fix the Navbar */
  top: 0px; /* Stick it to the top */
  left: 0;
  padding: 0 3rem 0 11rem;
  z-index: 1; /* Ensures it stays above other content */
  background-color: #fff; /* Optional: Background color to avoid transparency */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Optional: Shadow effect */
}

.navbar__ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0px 0px;
  font-family: poppins;
  font-size: small;
  gap: -15px;
  /* background-color: RED; */
  /* justify-content: space-between; */
}

@media screen and (max-width: 992px) {
  .navbar {
    width: 100%;
    max-width: 100%;
    height: 13vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky; /* Fix the Navbar */
    top: 0px; /* Stick it to the top */
    left: 0;
    padding: 0 50px;
    z-index: 1; /* Ensures it stays above other content */
    background-color: #fff; /* Optional: Background color to avoid transparency */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Optional: Shadow effect */
  }

  .navbar__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100vh;
    cursor: pointer;
    margin-right: 20px;
    z-index: 2;
    position: fixed;
    top: 72px;
    right: -120%;
    background-color: #fff;
    font-family: poppins;
    font-size: medium;
    gap: 1.5rem;
    transition: right 0.3s ease-in-out;
  }

  .show {
    right: 0;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 83.45px 0;
  }
}

.hamburger {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.bt {
  display: flex;
  align-items: center;
  /* padding-left: 150px;
  padding-right: 130px; */
}
.navbar__ul li {
  margin: 5px;
  padding: 3px 6px;
  color: #0096c7;
  cursor: pointer;
  justify-content: center;
  transition: color 0.3s;
}
.navbar__ul li::after {
  content: "";
  width: 0px;
  height: 1px;
  background: #0096c7;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navbar__ul li:hover::after {
  width: 100%;
}
.navbar__ul li:hover {
  color: #02035d;
}
.logo img {
  height: 55px;
  width: 160px;
}

.logo {
  display: flex;
}

.btn2 {
  background-color: #ffffff;
  margin-left: 10px;
  padding: 10px 10px;
  font-size: 13px;
  border-color: #001334;
  cursor: pointer;
  color: #02035d;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  font-family: poppins;
}
.btn1 {
  background-color: #001a46;
  margin-left: 10px;
  padding: 10px 10px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  font-family: poppins;
}
.btn2:hover {
  background-color: #003f72;
  color: #ffffff;
}
.btn1:hover {
  background-color: #00749e;
}
.btn2:focus {
  outline: none;
}

.btn1:focus {
  outline: none;
}
.nav-link {
  color: #0096c7; /* Default color */
  text-decoration: none;
  transition: color 0.3s ease;
}
html {
  scroll-behavior: smooth;
}

.sign-out {
  background-color: #02035d;
  border-radius: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.avatar {
  border-radius: 17.5px;
  width: 35px;
  height: 35px;
  background-color: #0096c733;
  border: 1.5px solid #0096c7;
  margin-right: 2.25rem;
}
