.loginbg {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("../../assets/bg.png");
  width: 100%;
  padding: 120px 0px 50px 230px;
  font-family: poppins;
  overflow-x: hidden;
}

.submit {
  display: flex;
  gap: 100px;
  width: 100%;
  justify-content: end;
  align-items: center;
  padding-right: 240px;
}

.loginbg2 {
  background-color: white;
  width: 100%;
  margin: 0px auto;
  margin-top: 0px;
  opacity: 0.9;
  padding-bottom: 100px;
}

.heading {
  font-weight: 700;
  font-size: 44px;
  line-height: 57.2px;
  color: black;
}

.title {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-bottom: 55px;
}

.labelText {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #000;
  text-align: start;
}

.username {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 279.97px;
  height: 48.29px;
  border: none;
  border-radius: 1.875rem;
  padding: 0 20px 0;
}

.lInput {
  width: 100%;
  height: auto;
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 22px;
  font-family: poppins;
}

.password {
  padding: 0 20px 0;
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 373px;
  height: 48.29px;
  border: none;
  border-radius: 1.875rem;
  color: #000;
  font-size: 22px;
  font-family: poppins;
}

.field {
  display: flex;
  gap: 27.5px;
  justify-content: start;
  flex-direction: column;
  margin-bottom: 50px;
}

@media screen and (max-width: 960px) {
  .loginbg {
    padding: 50px 0 50px 110px;
  }
}

@media screen and (max-width: 480px) {
  .loginbg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 30px;
  }

  .submit {
    padding: 0 20px 0;
  }

  .field {
    padding-left: 25px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 50px;
  }

  .password {
    width: 100%;
  }

  .submit {
    gap: 50px;
  }
}

.transparent {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #02035d;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.transparent:hover {
  background-color: #003f72;
  color: #fff;
}
