.bg {
  background-image: url("../../assets/stairs.jpg");
  width: 100%;
}

.bg2 {
  background-color: white;
  width: 100%;
  margin: 0px auto;
  margin-top: 0px;
  opacity: 0.9;
  padding-bottom: 100px;
}

.bg2 input {
  color: #000;
  font-size: 15px;
  font-family: poppins;
  padding: 0 1.25rem 0;
}

.bg2 select,
.bg2 option {
  width: 100%;
  color: #000;
  font-size: 15px;
  font-family: poppins;
  background-color: transparent;
  border: none;
}

.dob::-webkit-calendar-picker-indicator {
  background: url("../../assets/calendar-days.svg") no-repeat center;
  color: transparent; /* Hide default icon */
  cursor: pointer;
}

.form-section {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  margin-top: 0px;
  align-items: center;
  padding-left: 100px;
}

#two {
  width: 75%;
  justify-content: space-between;
}

#username {
  width: 226px;
}

.label {
  padding: 0 0 10px 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  text-align: left;
  color: #000;
  display: block;
}

.h1 {
  margin-bottom: 100px;
  padding-top: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 46.8px;
  text-align: center;
  color: #000;
  display: block;
}

.input {
  height: 3.785rem;
  border-radius: 1.875rem;
  background-color: #ede9e9;
  opacity: 1;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#fullName {
  width: 415px;
  margin-right: 60px;
}

#email {
  width: 557px;
}

.password-field {
  margin-right: 120px;
}

#four input {
  width: 18.75rem;
}

.button {
  background-color: #02035d;
  border-radius: 1.875rem;
  border: none;
  width: 183px;
  height: 3.785rem;
  cursor: pointer;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.25rem;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #003f72;
  color: #ffffff;
}

#submit {
  display: flex;
  justify-content: end;
  padding-right: 100px;
}

.gender {
  display: flex;
  align-content: center;
  width: 183px;
  height: 3.785rem;
  border-radius: 1.875rem;
  background-color: #ede9e9;
  opacity: 1;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0 1.25rem 0;
}

@media screen and (max-width: 1114px) {
  .form-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.25rem;
  }

  #email,
  #fullName {
    width: 100%;
    margin-right: 0;
  }
}
